img{
    width: 200px;
    margin-left: 100px;
    border-radius: 100%;
}
.spn{
    color: white;
    margin-left: 50px;
    font-size: 25px;
}
.nbu{
    color: white;
    margin-left: 110px;
    font-size:15px;
}
.s{
    color: white;
    margin-left: 50px;
    font-size: 20px;
}
.fa-phone{
    color: cyan;
    font-size: 20px;
    margin-left: 50px;
}
.muslima{
    color: white;
    margin-left: 40px;
    margin-top: -18px;
}
.fa-envelope{
    color: cyan;
    margin-left: 50px;
    margin-top: -40px;
    font-size: 20px;
}
.sevinch{color: white;
    margin-left: 40px;
    margin-top: -18px;
}
.fa-earth-americas{color:cyan;
    margin-left: 50px;
    font-size: 20px;
}
.muhammadali{
    color: white;
    margin-left: 40px;
    margin-top: -18px;
}
.fa-linkedin-in{
    color: cyan;
    margin-left: 50px;
    font-size:20px;
}
.mohira{
    color: white;
    margin-left: 40px;
    margin-top: -18px;
}
.fa-location-dot{
    color: cyan;
    margin-left: 50px;
    font-size: 20px;
}
.bahodir{
    color: white;
    margin-left: 40px;
    margin-top: -18px;
}
.div1{
    color: white;
margin-left: 50px;
}
.div2{
    color: cyan;
    margin-left: 50px;
    font-size:20px;
}
.div3{
    color: white;
    margin-left: 50px;
    width: 300px;
    margin-top: -39px;
    font-size: 20px;
}
.div4{
    color: white;
    margin-left: 50px;
    margin-top: -39px;
    font-size: 20px;
}
.div5{
    color: cyan;
    margin-left: 50px;
    font-size:20px;
}
.div6{
    color: white;
    margin-left: 50px;
    width: 300px;
    margin-top: -39px;
    font-size: 20px;
}
.div7{color: white;
    margin-left: 50px;
    margin-top: -39px;
    font-size: 20px;
}
.div8{
    color: cyan;
    margin-left: 50px;
    font-size:20px;
}
.div9{
    color: white;
    margin-left: 50px;
    margin-top: -39px;
    font-size: 20px;
}
.div10{
    color: white;
    margin-left: 50px;
    margin-top: -39px;
    font-size: 20px;
}
.div11{
    color: white;
    font-size: 25px;
    margin-left: 50px;
}
.div14{
    color: white;
    margin-left: 50px;
}
.lorem{
    border: 1px solid cyan;
    margin-left: 50px;
    width: 300px;
    height: 10px;
    background-color: cyan;
}
.div12{
    color: white;
    font-size: 25px;
    margin-left: 50px;
}
.lorem1{
    margin-left: 50px;
    border: 1px solid cyan;
    width: 200px;
    height: 10px;
    background-color:cyan;  
}
.div13{
    color: white;
    font-size: 25px;
    margin-left: 50px;
}
.lorem2{
    margin-left: 50px;
    border: 1px solid cyan;
    width: 100px;
    height: 10px;
    background-color:cyan;  
}
.see{
    background-color: blue;
    width: 400px;
    height: 1500px;
}
.exclusive{
    margin-left: 450px;
    margin-top: -1450px;
    color: blue;
}
.ansor{
    width: 890px;
    margin-top: -10px;
    font-size: 20px;
    margin-left: 450px;
}
.i{
    width: 890px;
    margin-top: -10px;
    font-size: 20px;
    margin-left: 450px;
}
.ecx{
    margin-left: 450px;
    color: blue;
}
.seve{
    margin-left: 650px;
    font-size: 20px;
    color: cyan;
}
.le{
    width: 400px;
    margin-left: 650px;
    font-size:25px; 
    margin-top: -80px;
}
.profae{
    margin-top: 50px;
    margin-left: 450px;
    color: blue;
}
.div23{
    margin-left: 450px;
    color: grey;
}
.lorem24{
    margin-left: 520px;
    margin-top: -35px;
    border: 1px solid cyan;
    width: 500px;
    height: 10px;
    background-color:cyan;  
}
.lorem25{
    margin-left: 520px;
    margin-top: -35px;
    border: 1px solid cyan;
    width: 400px;
    height: 10px;
    background-color:cyan;  
}
.lorem26{
    margin-left: 520px;
    margin-top: -35px;
    border: 1px solid cyan;
    width: 200px;
    height: 10px;
    background-color:cyan;  
}
.div24{
    margin-left: 450px;
    color: grey;
}
.lorem26{
    margin-left: 580px;
}
.lorem27{
    margin-left: 580px;
    margin-top: -35px;
    border: 1px solid cyan;
    width: 400px;
    height: 10px;
    background-color:cyan;  
}
.lorem28{
    margin-left: 580px;
    margin-top: -35px;
    border: 1px solid cyan;
    width: 400px;
    height: 10px;
    background-color:cyan;  
}
.lorem29{
    margin-left: 590px;
    margin-top: -35px;
    border: 1px solid cyan;
    width: 400px;
    height: 10px;
    background-color:cyan;  
}
.div50{
    margin-left: 450px;
    margin-top: 50px;
    color: blue;
}
.fa-book{
    margin-left: 450px;
    color:blue;
    font-size: 20px;
}
.read{
    margin-left: 20px;
    margin-top: -18px;
    color: black;
}
.fa-vr-cardboard{
    margin-left: 50px;
    color:blue;
    font-size: 20px;
}
.game{
    margin-left: 30px;
    margin-top: -18px;
    color: black;
}
.fa-utensils{
    margin-left: 50px;
    color:blue;
    font-size: 20px;
}
.cook{
    margin-left: 30px;
    margin-top: -18px;
    color: black;
}
.fa-microphone{
    margin-left: 50px;
    color:blue;
    font-size: 20px;
}
.sing{
    margin-left: 30px;
    margin-top: -18px;
    color: black;
}
.ux{
  font-size: 25px;
  margin-left: 450px;
  color: grey;
  margin-top: -10px;    
}
.sv{
    margin-left: 450px;
    margin-top: -40px;
    color: grey;
    font-size: 25px;
}
.ux1{
    font-size: 25px;
    margin-left: 450px;
    color: grey;
    margin-top:20px;      
}
.sv1{
    margin-left: 450px;
    margin-top: -40px;
    color: grey;
    font-size: 25px;
}
.ux2{
    font-size: 25px;
    margin-left: 450px;
    color: grey;
    margin-top:20px;      
}
.sv2{
    font-size: 25px;
    margin-left: 450px;
    color: grey;
    margin-top: -40px;     
}